<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=”robots” content=”index,follow”> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/owner.css">
    <link rel="stylesheet" href="./css/ownerDesktop.css">
    <link rel="stylesheet" href="./css/clock.css">
    <title>Representacion</title>
</head>
<body>
    <header>
        <h1>Representantes en Asamble</h1>
    </header>
    <main>
        <th>
            <td>Correo</td>
            <td>Interior</td>
            <td>Apartamento</td>
            <td>Correo</td>
            <td>Vota</td>
            <td>Apartamentos que representa</td></th>
        <tbody><td></td><td></td><td></td><td></td><td></td><td></td></tbody>

    </main>
</body>
</html>