@media (min-width: 900px){
    header{
        align-items: center;
    }
    .work {
        border: 5px solid #e1bee7;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    #data{
        display: flex;
        flex-direction:row;
        gap: 2px;
      }
      #interior,#apartamento,#correo{
        width: 20%;
      }
      .logo {
        width: 5px;
        margin-bottom: 5px;
        justify-self: center;
        display: none;
      }

}

