@media (min-width: 900px){
  header{
      align-items: center;
  }
  #data {
    display: flex;
    flex-direction: column;

  }

  
#localVideo {
  width: 100px;
  height: 100%;
}


  .general {
    height: 50px;
    width: 100px;

  }
  .work {
      border: 5px solid #e1bee7;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
  }

  .work--resume{
    /* height: 5vh;
    margin: 1rem;
    padding: 1rem; */
    width: 100%;
    border: 1px solid #ccc;
    text-align: center;
  }

  .work--attend{
    text-align: center;
    margin: 20px;
  }

    
  #data{
      display: flex;
      flex-direction:row;
      gap: 2px;
    }

  #interior,#apartamento,#correo{
    width: 20%;
  }
  .logo {
    width: 5px;
    margin-bottom: 5px;
    justify-self: center;
    display: none;
  }

      
}

